@import '../../sass/global';

.paragraph {
  &--right {
    text-align: right;
  }

  &__heading {
    margin: 0 0 $spacer-m 0;
  }

  &__text {
    margin: 0 0 $spacer-xxxl 0;

    &--bold {
      font-weight: 700;
    }
  }
}
