@import '../../../sass/utilities/functions';
//blocked by SFE22D-26: need color and typography definitions

.dropdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Light', serif; //SFE22D-26
  font-size: to-rem(14); //SFE22D-26
  font-style: normal; //SFE22D-26
  font-weight: 400; //SFE22D-26
  line-height: 1.15; //SFE22D-26

  &__container {
    display: flex;
    height: to-rem(60);
    justify-content: center;
    margin-top: to-rem(-30);
    padding-top: to-rem(46);
    width: to-rem(60px);

    &-triangle {
      background-color: #fff; //SFE22D-26
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      height: to-rem(30);
      overflow: hidden;
      transform: rotate(45deg);
      width: to-rem(30);
    }
  }

  &__content {
    background-color: #fff; //SFE22D-26
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: to-rem(12) 0;
    position: relative;
    width: to-rem(200);

    &-link {
      background-color: #fff; //SFE22D-26
      border: none;
      list-style: none;
      text-align: start;

      & > a {
        color: #3d3691; //SFE22D-26
        display: inline-block;
        height: 100%;
        padding: to-rem(14) to-rem(17) to-rem(18);
        text-decoration: none;
        width: 100%;

        &:hover,
        &:focus {
          background-color: #f6f5f7; //SFE22D-26
          cursor: pointer;
        }
      }
    }
  }

  &__content::after {
    border-radius: 14px;
    bottom: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
