@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.dropdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $paragraph-font;
  font-size: $font-size-xs;

  &__pin {
    display: flex;
    height: to-rem(60);
    justify-content: center;
    margin-top: to-rem(-33);
    padding-top: to-rem(49);
    width: to-rem(60);

    &-triangle {
      background-color: $white-400;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      height: to-rem(25);
      overflow: hidden;
      transform: rotate(45deg);
      width: to-rem(25);
    }
  }

  &__content {
    @include flex-box($direction: column, $justify-content: center);

    background-color: $white-400;
    border-radius: 14px;
    margin: 0;
    padding: to-rem(12) 0;
    position: relative;

    &-item {
      background-color: $white-400;
      list-style: none;
      text-align: start;
      transition: $transition-time-200;
    }

    &-link {
      color: $violet-700;
      display: inline-block;
      height: 100%;
      padding: to-rem(16) to-rem(23) to-rem(16) to-rem(20);
      position: relative;
      text-decoration: none;
      width: 100%;

      &:hover {
        background-color: $gray-200;
      }

      &:focus-visible {
        outline: 4px dashed $orange-200;
        z-index: 1;
      }

      &:active {
        background-color: $gray-100;
      }

      &--active {
        background-color: $gray-200;
        font-weight: 700;
      }
    }
  }

  &__content::after {
    border-radius: 14px;
    bottom: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
