//blocked by SFE22D-26: need color and typography definitions

.dropdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Light', serif; //SFE22D-26
  font-size: 14px; //SFE22D-26
  font-style: normal; //SFE22D-26
  font-weight: 400; //SFE22D-26
  line-height: 16px; //SFE22D-26

  &__triangle {
    border-bottom: 1.43em solid #fff; //SFE22D-26
    border-left: 1.43em solid transparent;
    border-right: 1.43em solid transparent;
    height: 0;
    width: 0;
  }

  &__content {
    background-color: #fff; //SFE22D-26
    border-radius: 1em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0.85em 0;
    position: relative;
    width: 14.29em;

    &-link {
      background-color: #fff; //SFE22D-26
      border: none;
      color: #3d3691; //SFE22D-26
      list-style: none;
      padding-bottom: 1.29em;
      padding-left: 1.21em;
      padding-top: 1em;
      text-align: start;

      &:hover,
      &:focus {
        background-color: #f6f5f7; //SFE22D-26
        cursor: pointer;
      }
    }
  }
}
