@import '~/sass/global';

.paragraph-and-image-section {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: center
  );

  margin-top: to-rem(194);

  &__paragraph {
    margin-right: to-rem(194);
  }

  &__image {
    min-width: to-rem(634);
  }
}
