@import '~/sass/global';

.testers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  margin-bottom: to-rem(-50);

  &__content {
    max-width: to-rem(542);
    padding-top: to-rem(77);
    position: relative;
  }

  &__top-particles {
    margin-bottom: to-rem(15);
    max-width: to-rem(125);
    position: absolute;
    right: to-rem(41);
    top: to-rem(0);
  }

  &__bottom-particles {
    bottom: to-rem(20);
    left: to-rem(45);
    max-width: to-rem(230);
    position: absolute;
  }

  &__icon {
    left: to-rem(-57);
    position: relative;
    width: to-rem(693);
    z-index: -1;
  }
}
