// @import '~/sass/global';

// .developers-description {
//   @include flex-box(
//     $direction: row,
//     $justify-content: space-between,
//     $align-items: flex-start
//   );

//   padding-top: to-rem(200);
//   position: relative;

//   &__top-particles {
//    // left: to-rem(25);
//     margin-bottom: to-rem(15);
//     max-width: to-rem(126);
//     position: relative;
//   }

//   &__content {
//     max-width: to-rem(552);
//   }

//   &__button-particles {
//     left: to-rem(249);
//     max-width: to-rem(190);
//     position: relative;
//     top: to-rem(-145);
//   }

//   &__icon {
//     max-width: to-rem(665);
//     position: absolute;
//     right: to-rem(-53);
//     top: 0;
//     z-index: -1;
//   }
// }
@import '~/sass/global';

.developers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: center
  );

  margin-bottom: to-rem(-141);
  margin-top: to-rem(130);

  &__top-particles {
    left: to-rem(25);
    max-width: to-rem(126);
    position: absolute;
    top: to-rem(-68);
  }

  &__content {
    max-width: to-rem(552);
    position: relative;
  }

  &__bottom-particles {
    left: to-rem(249);
    max-width: to-rem(190);
    position: relative;
    top: to-rem(-145);
  }

  &__icon {
    max-width: to-rem(665);
    position: relative;
    right: to-rem(-53);
    top: to-rem(-130);
    z-index: -1;
  }
}
