@import '~/sass/global';

.developers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  padding-top: to-rem(200);
  position: relative;

  &__top-particles {
    left: to-rem(25);
    margin-bottom: to-rem(15);
    max-width: to-rem(126);
    position: relative;
  }

  &__content {
    max-width: to-rem(552);
    // padding: to-rem(15) 0 0;
  }

  &__button-particles {
    left: to-rem(249);
    max-width: to-rem(190);
    position: relative;
    top: to-rem(-145);
  }

  //   &__icons {
  //     @include flex-box(
  //       $direction: row,
  //       $justify-content: center,
  //       $align-items: flex-end
  //     );

  //     position: relative;
  //     width: to-rem(585);
  //   }

  //   &__icon-line {
  //     bottom: 0;
  //     position: absolute;
  //     right: calc(to-rem(-80) - to-rem(-27));
  //     top: to-rem(-131);
  //     z-index: -1;
  //   }

  &__icon-image {
    margin: to-rem(60) 0 0;
    max-width: to-rem(665);
    // max-width: to-rem(430);
    position: relative;
    right: to-rem(-53);
    top: to-rem(-260);
    z-index: -1;
  }
}
