@import '../../sass/global';

.radio-toggleris {
  @include flex-box(
    $direction: row,
    $justify-content: center,
    $align-items: center
  );

  border: 2px solid $violet-700;
  border-radius: to-rem(30);
  height: to-rem(62);
  padding: to-rem(7);
  position: relative;
  width: to-rem(507);

  &__labelis:nth-of-type(2),
  &__labelis1 {
    margin: 0 to-rem(8);
  }
}
