// &--item {
//     background-color: var(--color-light-purple);
//     border-radius: 50%;
//     list-style-type: none;
//     margin: 0;
//     margin-right: 16px;
//     outline-color: var(--color-purple);
//     padding: 0;

//     &:hover,
//     &:active {
//       box-shadow: rgba(61, 54, 145, 0.3) 0 1px 2px 0,
//         rgba(61, 54, 145, 0.15) 0 2px 6px 3px;
//       transform: scale(1.07);
//     }

.social-link {
  align-items: center;
  color: var(--color-purple);
  display: flex;
  font-size: 24px;
  height: 40px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 40px;
}
//   }
