[theme='home'] {
  --primary-color: #{$violet-700};
  --secondary-color: #{$violet-400};
  --button-hover: #{$violet-600};
  --button-active: #{$violet-300};
}

[theme='developers'] {
  --primary-color: #{$blue-700};
  --secondary-color: #{$blue-400};
  --button-hover: #{$blue-600};
  --button-active: #{$blue-300};
  --icon-secondary-color: #{$skyblue-400};
}

[theme='testers'] {
  --primary-color: #{$green-700};
  --secondary-color: #{$green-400};
  --button-hover: #{$green-300};
  --button-active: #{$green-600};
  --icon-secondary-color: #{$lightgreen-400};
}

[theme='front-end'] {
  --primary-color: #{$red-700};
  --secondary-color: #{$red-400};
  --button-hover: #{$red-300};
  --button-active: #{$red-600};
  --icon-secondary-color: #{$red-400};
}

[theme='application'] {
  --primary-color: #{$violet-700};
  --secondary-color: #{$violet-400};
  --button-hover: #{$violet-600};
  --button-active: #{$violet-300};
}
