h1,
h2 {
  color: var(--primary-color);
  font: 700 $header-l $header-font;
}

h3 {
  color: var(--primary-color);
  font: 700 $header-s $header-font;
}

p {
  color: $charcoal-400;
  font: 400 $paragraph-l $paragraph-font;
  line-height: inherit;
}

.paragraph-small {
  font: 400 $paragraph-s $paragraph-font;
}
