h1,
h2 {
  color: var(--primary-color);
  font: $font-weight-bold $font-size-xxxl $header-font;

  @include tablet-breakpoint {
    font-size: $font-size-xxl;
  }

  @include mobile-breakpoint {
    font-size: $font-size-xl;
  }
}

h3 {
  color: var(--primary-color);
  font: $font-weight-bold $font-size-xl $header-font;

  @include mobile-breakpoint {
    font-size: $font-size-l;
  }
}

p {
  color: $charcoal-400;
  font: $font-weight-normal $font-size-m $paragraph-font;
  line-height: $line-height-l;

  @include mobile-breakpoint {
    font-size: $font-size-s;
  }
}

.paragraph-small {
  font: $font-weight-normal $font-size-xs $paragraph-font;
}
