h1,
h2 {
  color: var(--primary-color);
  font: $font-bold $font-size-header-l $header-font;
}

h3 {
  color: var(--primary-color);
  font: $font-bold $font-size-header-s $header-font;
}

p {
  color: $charcoal-400;
  font: $font-normal $font-size-paragraph-l $paragraph-font;
  line-height: inherit;
}

.paragraph-small {
  font: $font-normal $font-size-paragraph-s $paragraph-font;
}
