@import './utilities/functions/index';

$max-page-width: to-rem(1440);

/* Fonts */
$header-font: 'Montserrat', sans-serif;
$paragraph-font: 'Raleway', sans-serif;

/* Font sizes */
$header-l: to-rem(48);
$header-s: to-rem(32);
$paragraph-l: to-rem(18);
$paragraph-s: to-rem(14);

/* Spacers */

$spacer-xxxxxs: to-rem(12);
$spacer-xxxxs: to-rem(16);
$spacer-xxxs: to-rem(20);
$spacer-xxs: to-rem(24);
$spacer-xs: to-rem(28);
$spacer-s: to-rem(32);
$spacer-m: to-rem(36);
$spacer-l: to-rem(40);
$spacer-xl: to-rem(44);
$spacer-xxl: to-rem(48);
$spacer-xxxl: to-rem(52);
$spacer-xxxxl: to-rem(56);
$spacer-xxxxxl: to-rem(60);
