@import '../../sass/global';

.section {
  &:not(:last-child) {
    margin: 0 0 $spacer-l 0;
  }

  &__heading {
    margin: 0 0 $spacer-s 0;
  }

  &__text,
  &__list {
    line-height: 1.5;
    margin: 0;
  }

  &__list {
    font-size: $paragraph-l;
    list-style-type: '\25cf';
    padding-left: to-rem(10);

    &-item {
      padding-left: to-rem(16);

      &::marker {
        color: var(--primary-color);
      }
    }
  }
}
