@mixin overflow-ellipsis($width: 100%) {
  display: block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin flex-box($direction, $content, $align) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
}
