@import '../../sass/variables';
@import '../../sass/utilities/functions/to-rem';

$input-label-grey: #868686;

.text-input {
  display: flex;
  flex-direction: column;

  &__input-field {
    background-color: $white-400;
    border: 1px solid $charcoal-200;
    border-radius: 4px;
    font-size: to-rem(18);
    height: to-rem(48);
    padding: to-rem(13) 0 to-rem(14) to-rem(14);
    width: 100%;

    &::placeholder {
      color: $input-label-grey;
      font-size: to-rem(18);
      font-weight: 400;
      height: to-rem(21);
      line-height: 1.2;
    }

    &:focus {
      outline: 2px solid $violet-600;
    }
  }

  &__label {
    color: $charcoal-200;
    font-size: to-rem(14);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: to-rem(5);

    span:nth-of-type(2) {
      display: inline-block;
      height: to-rem(21);
    }
  }

  &__asterisk {
    color: $red-500;
    font-size: to-rem(18);
    font-weight: 700;
    height: to-rem(21);
    margin-left: to-rem(-9);
    margin-right: to-rem(2);
    width: to-rem(7);
  }

  &__error {
    border-color: $red-500;
  }

  &__error-message {
    color: $red-500;
    font-size: to-rem(14);
    margin-left: to-rem(14);
  }
}
