@import '~/sass/global';

.article {
  margin: 0 auto;
  max-width: to-rem(1006);
  text-align: center;

  &__top-particles {
    position: relative;
    transform: translateY(20%);
    z-index: -1;
  }

  &__title {
    color: $violet-700;
    margin: 0 0 to-rem(29);
    padding: 0 2rem;
    word-wrap: break-word;
  }

  &__content {
    color: $charcoal-400;
    margin-bottom: to-rem(35);
  }

  &__icon-wrapper {
    @include flex-box(
      $direction: column,
      $justify-content: center,
      $align-items: center
    );

    margin: 0 auto;
    position: relative;
    top: 0;
  }

  &__icon-line {
    height: to-rem(48);
    margin-bottom: to-rem(32);
  }

  &__icon-circle {
    border: 2px solid $violet-700;
    border-radius: 50%;
    height: to-rem(48);
    width: to-rem(48);
  }

  &__icon-arrow-down {
    animation: bounce 1.2s ease-in-out infinite;
  }

  &__bottom-particles {
    max-width: to-rem(790);
    position: relative;
    transform: translateY(-50%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}
