@import '~/sass/global';
@import './TestimonialCard/TestimonialCard';

$_button-size: to-rem(40);

.carousel {
  &__title {
    margin: 0 0 to-rem(67);
    text-align: right;
  }

  &__button-container {
    display: flex;
    gap: to-rem(10);
    margin-left: to-rem(20);
    margin-top: calc(-#{$_button-size} - 1rem);
    position: absolute;
  }

  &__button {
    background-color: $white-400;
    border: none;
    border-radius: 50%;
    color: var(--primary-color);
    height: $_button-size;
    padding: 0;
    width: $_button-size;

    &:hover {
      background-color: var(--button-hover);
      color: $white-400;
    }

    &:focus,
    &:focus-visible,
    &:active {
      background-color: var(--button-active);
      color: $white-400;
    }

    &:focus {
      outline: 2px solid var(--button-hover);
    }

    &:focus-visible {
      outline: 4px dashed $orange-200;
    }

    &:active {
      outline: none;
    }
  }

  &__arrow {
    height: 100%;
    transform: rotate(90deg);
    width: 100%;

    &--next {
      transform: rotate(270deg);
    }
  }

  &__card {
    margin-bottom: to-rem($_shadow-size);
    margin-left: to-rem($_shadow-size);
    width: initial !important; //overriding carousel inline styles
  }
}
