@import '../../sass/global';

.paragraph {
  &--right {
    @include flex-box(
      $direction: column,
      $align-items: flex-end,
      $justify-content: normal
    );

    text-align: right;
  }

  &__heading {
    margin: 0 0 $spacer-m 0;
  }

  &__text {
    margin: 0 0 $spacer-xxxl 0;

    &--bold {
      font-weight: 700;
    }
  }
}
