@import '../../sass/global';

.paragraph {
  width: 45%;

  &--right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &--left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .paragraph-heading {
    margin: 0 0 $spacer-m 0;
  }

  .paragraph-text {
    margin: 0 0 $spacer-xxxl 0;

    &--bold {
      font-weight: 700;
    }
  }
}
