@import '../../sass/global';

.success-container {
  margin: to-rem(40) 0;
  position: relative;

  &__particles-icon {
    max-width: to-rem(1177);
    position: absolute;
    top: calc(50% - 1252px / 2 + 0.01px);
    z-index: -1;
  }

  &__header {
    margin-bottom: to-rem(80);
  }

  &__content {
    max-height: to-rem(726);
    text-align: center;
    @include flex-box(null, space-between, center);
  }

  &__left {
    width: to-rem(576);
    @include flex-box(null, center);
  }

  &__message-box {
    @include flex-box(column, null, center);
  }

  &__check-mark {
    width: to-rem(104);
  }

  h2 {
    margin: to-rem(40) 0 to-rem(12) 0;
  }

  &__confirmation-text {
    color: $violet-700;
    font: 700 $paragraph-l $paragraph-font;
  }

  &__right {
    display: flex;
    max-width: to-rem(620);

    &-image {
      width: to-rem(620);
    }
  }
}
