@import '../../sass/global';

.schedule-card {
  $_this: &;

  @include box-shadow;

  border: 2px solid var(--primary-color);
  border-radius: 17px;
  color: $white-400;
  cursor: pointer;
  line-height: $line-height-l;
  min-height: to-rem(60);
  overflow: hidden;
  transition: $transition-time-200;
  width: to-rem(266);

  &__title {
    background-color: var(--primary-color);
    display: flex;
    padding: to-rem(20);
    transition: $transition-time-200;

    &-name {
      font-weight: $font-weight-bold;
      max-width: to-rem(193);
    }

    // COMPONENT / SVG
    &-arrow {
      height: to-rem(13);
      margin-left: auto;
      margin-top: to-rem(9);
      transition: $transition-time-400 ease-in-out;

      &--up {
        margin-top: to-rem(3);
        transform: rotate(180deg);
      }
    }
  }

  // -------------------------------------------------------------------DROPDOW SECTION
  // REACT-SLIDER-COMPONENT/CONTROLS
  &__slider {
    border-radius: 0 0 15px 15px;
    transition-duration: $transition-time-400;
    transition-timing-function: cubic-bezier(0.05, 0.08, 0.4, 0);
  }

  // -------------------------------------------------------------------DROPDOW / LECTURER PART
  &__lecturer {
    background-color: var(--primary-color);
    border-radius: 0 0 0 15px;
    font-size: $font-size-s;
    padding: 0 to-rem(20) to-rem(20);
    transition: $transition-time-200;

    &-credentials {
      display: flex;
    }

    &-credentials:not(:last-child) {
      margin-bottom: to-rem(5);
    }

    // COMPONENT / SVG
    &-avatar,
    &-clock {
      align-self: flex-start;
      margin-right: to-rem(10);
      margin-top: to-rem(3);
      width: to-rem(14);
    }

    &-timing {
      display: flex;
    }

    // COMPONENT / SVG
    &-separator {
      margin: 0 to-rem(15);
      width: to-rem(2);
    }
  }
  // -------------------------------------------------------------------DROPDOWN / LOCATION PART
  &__location {
    @include themed-border(var(--primary-color));

    background-color: $white-400;
    border-radius: 0 0 14px 14px;
    padding: to-rem(20);
    transition: $transition-time-200 ease;
  }

  // COMPONENT STATES
  &:focus,
  &:focus-visible,
  &:active {
    border-color: var(--button-active);

    #{$_this}__lecturer,
    #{$_this}__title {
      background-color: var(--button-active);
    }

    .location {
      @include themed-border(var(--button-active));
    }
  }

  &:focus {
    outline: 2px solid var(--button-hover);
  }

  &:focus-visible {
    outline: 4px dashed $orange-200;
  }

  &:hover {
    border-color: var(--button-hover);

    #{$_this}__lecturer,
    #{$_this}__title {
      background-color: var(--button-hover);
    }

    .location {
      @include themed-border(var(--button-hover));
    }
  }
}
