@import '../../sass/global';

.schedule-card {
  background-color: var(--color-page-3); // prop coolor
  border: 2px solid var(--color-page-3); // prop coolor
  border-radius: 17px;
  color: var(--color-white); // always white
  cursor: pointer;
  min-height: 6rem;
  width: 26.6rem;
  @include box-shadow; // change color variable

  &__title {
    display: flex;
    padding: 2rem;

    &-name {
      font-size: 1.8rem;
      font-weight: 700;
      max-width: 19.3rem;
    }

    // COMPONENT / SVG
    &-arrow,
    &-arrow--down {
      height: 1.3rem;
      margin-left: auto;
      margin-top: 0.5rem;
      transition: all 0.5s;
    }
    // COMPONENT / SVG
    &-arrow--down {
      transform: rotate(180deg);
    }
  }
  // -------------------------------------------------------------------DROPDOW SECTION
  // REACT-SLIDER-COMPONENT/CONTROLS
  .schedule-card--slider {
    border-radius: 0 0 15px 15px;
    position: relative;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.05, 0.08, 0.4, 0);
  }

  &__dropdown {
    background-color: var(--color-white); // always white
    border-radius: 0 0 15px 15px;
  }

  // -------------------------------------------------------------------DROPDOW / LECTURER PART
  &__lecturer {
    border-radius: 0 0 0 15px;
    font-size: 1.4rem;
    padding: 0 2rem 2rem;

    &-credentials {
      display: flex; // pushes element to position
    }

    &-credentials:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    // COMPONENT / SVG
    &-avatar {
      margin-right: 1.4rem;
      margin-top: 0.1rem;
      width: 1.4rem;
    }

    &-timing {
      display: flex; // pushes element to position
    }
    // COMPONENT / SVG
    &-clock {
      margin-left: -0.3rem;
      margin-right: 1rem;
      width: 2.2rem;
    }

    // COMPONENT / SVG
    &-separator {
      margin: 0 1.5rem;
      width: 0.2rem;
    }
  }
  // -------------------------------------------------------------------DROPDOW / LOCATION PART
  &__location {
    padding: 2rem;

    &-container {
      align-items: center;
      border: 2px solid;
      border-radius: 7.5px;
      display: flex;
      height: 5rem;
      // @include themed-border(var(--color-primary));
    }

    &-container:not(:last-child) {
      margin-bottom: 1rem;
    }

    &-date {
      display: flex;
      flex-direction: column;
      line-height: 1.3;
      text-align: center;
      width: 25%;
    }

    &-month {
      font-size: 1.4rem;
    }

    &-day {
      font-size: 1.8rem;
      font-weight: 700;
    }
    // COMPONENT / SVG
    &-separator {
      width: 0.2rem;
    }
    // COMPONENT / SVG
    &-pin {
      margin: 0 1rem 0 1.5rem;
      width: 1.5rem;
    }

    &-city {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
