@import '../../sass/global';

.location {
  @include flex-box(
    $direction: row,
    $justify-content: flex-start,
    $align-items: center
  );

  border: 2px solid;
  border-radius: 8px;
  transition: $transition-time-200;

  &:not(:last-child) {
    margin-bottom: to-rem(10);
  }

  &__date {
    @include flex-box($direction: column, $justify-content: center);

    height: to-rem(51);
    text-align: center;
    width: 25%;
  }

  &__month {
    font-size: $font-size-s;
    line-height: to-rem(16);
  }

  &__day {
    font-weight: $font-weight-bold;
    line-height: to-rem(21);
  }
  // COMPONENT / SVG
  &__separator {
    width: to-rem(2);
  }
  // COMPONENT / SVG
  &__pin {
    margin: 0 to-rem(10) 0 to-rem(15);
    width: to-rem(15);
  }
}
