@import '../../sass/global';

.schedule-card {
  background-color: var(--color-page-3); // prop coolor
  border: 0.2rem solid var(--color-page-3); // prop coolor
  border-radius: 1.7rem;
  color: var(--color-white); // always white
  cursor: pointer;
  min-height: 6rem;
  width: 26.6rem;
  @include box-shadow; // change color variable

  &__title {
    display: flex;
    padding: 2rem;

    &-name {
      border-radius: inherit;
      font-size: 1.8rem;
      font-weight: 700;
      max-width: 19.3rem;
    }

    &-arrow {
      // height: 1.3rem; // for component
      margin-left: auto;
      margin-top: 0.8rem;
      // width: 2.1em; // for component
    }
  }
  // -------------------------------------------------------------------DROPDOW SECTION
  &__dropdown {
    background-color: var(--color-white); // always white
    border-radius: 0 0 1.5rem 1.5rem;
    // display: none;
    transition: 0.3s;
  }
  // -------------------------------------------------------------------DROPDOW / LECTURER PART
  &__lecturer {
    background-color: var(--color-page-3); // prop coolor
    border-radius: 0 0 0 1.5rem;
    font-size: 1.4rem;
    padding: 0 2rem 2rem;

    &-credentials {
      align-items: center;
      display: flex;
    }

    &-avatar,
    &-clock {
      align-self: center;
      display: flex;
      margin-right: 1rem;
    }
    // COMPONENT / SVG
    &-avatar {
      margin-right: 1.4rem;
    }

    &-name {
    }

    &-timing {
      align-items: center;
      display: flex;
    }
    // COMPONENT / SVG
    &-clock {
      margin-left: -0.2rem;
      width: 2rem;
    }

    &-time {
    }
    // COMPONENT / SVG
    &-separator {
      display: flex;
      height: 100%;
      margin: 0 1.5rem;
    }

    &-duration {
    }
  }
  // -------------------------------------------------------------------DROPDOW / LOCATION PART
  &__location {
    color: var(--color-page-3); // prop color
    padding: 2rem;

    &-container {
      align-items: center;
      border: 0.2rem solid currentColor;
      border-radius: 0.75rem;
      display: inline-block;
      display: flex;
      height: 5rem;
      width: 100%;
    }

    &-container:not(:last-child) {
      margin-bottom: 1rem;
    }

    &-date {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      height: 100%;
      justify-content: center;
      line-height: 1;
      text-align: center;
      width: 25%;
    }

    &-month {
      font-size: 1.4rem;
    }

    &-day {
      font-size: 1.8rem;
      font-weight: 700;
    }
    // COMPONENT / SVG
    &-separator {
      align-self: center;
      display: flex;
    }
    // COMPONENT / SVG
    &-pin {
      align-self: center;
      display: flex;
      height: 100%;
      margin: 0 1rem;
    }

    &-city {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
