@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.developers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  padding-top: to-rem(400);
  position: relative;

  &__top-particles {
    left: 4%;
    max-width: to-rem(126);
    position: absolute;
    top: -18%;
  }

  &__content {
    max-width: to-rem(570);
    position: relative;
  }

  &__bottom-particles {
    left: 44%;
    max-width: to-rem(190);
    position: absolute;
    top: 61%;
  }

  &__icons {
    position: relative;
  }

  &__icons-image {
    margin-right: to-rem(53);
    width: to-rem(430);
  }

  &__icons-line {
    position: absolute;
    transform: translate(-85%, -40%);
    width: to-rem(665);
    z-index: -1;
  }
}
