@import '~/sass/global';

.schedule {
  &__column {
    flex: 1;

    &-title {
      margin: 0 0 $spacer-xxl 0;
      overflow-wrap: break-word;
      text-align: center;
    }

    &-data {
      @include flex-box($direction: row, $justify-content: center);

      gap: $spacer-l;

      @media screen and (max-width: 640px) {
        flex-direction: column;
      }
    }
  }
}
