@import '~/sass/global';

.schedule {
  &-cards-wrapper {
    @include flex-box($direction: row, $justify-content: center);

    gap: $spacer-l;

    @media screen and (max-width: 1366px) {
      flex-direction: column;
      gap: $spacer-xxxl;
    }
  }
}
