@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.frontend-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  margin-top: to-rem(210);
  position: relative;

  &__content {
    max-width: to-rem(550);
    position: relative;
  }

  &__top-particles {
    left: 75%;
    margin-bottom: to-rem(2);
    max-width: to-rem(99);
    position: absolute;
    top: -12%;
  }

  &__bottom-particles {
    left: 9%;
    max-width: to-rem(285);
    position: absolute;
    top: 79%;
  }

  &__icon {
    max-width: to-rem(417);
    transform: translateX(18%);
  }
}
