@import '../../sass/global';

.upload {
  $_this: &;

  display: flex;
  flex-direction: column;

  &__label {
    @include label($charcoal-200);
  }

  &__input {
    @include hide;

    &:focus + #{$_this}__field {
      outline: 2px solid $violet-600;
    }
  }

  &__field {
    @include input-field;
    @include flex-box(row, space-between, center);

    &:hover {
      cursor: pointer;
    }
  }

  &__error {
    border-color: $red-500;
  }

  &__placeholder {
    color: $charcoal-100;
  }

  &__icon {
    width: to-rem(20);
  }

  &__error-message {
    @include error-message;
  }
}
