@import '../../sass/global';

.upload {
  display: flex;
  flex-direction: column;

  &__label {
    @include label($charcoal-200);
  }

  &__input {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  &__field {
    @include input-field;
    @include flex-box(row, space-between, center);

    &:hover {
      cursor: pointer;
    }
  }

  &__placeholder {
    color: $charcoal-100;
  }

  &__icon {
    width: to-rem(20);
  }

  &__error-message {
    @include error-message;
  }
}
