@import '../../sass/global';

.input {
  display: flex;
  flex-direction: column;

  &__field {
    @include input-field;
  }

  &__label {
    @include label($charcoal-200);
  }

  &__error {
    border-color: $red-500;
  }
}
