@import '../../sass/variables';
@import '../../sass/utilities/functions/to-rem';
@import '../../sass/input/index';

.input {
  display: flex;
  flex-direction: column;

  &__field {
    @include input-field;
  }

  &__label {
    @include input-label;
  }

  &__error {
    border-color: $red-500;
  }

  &__error-message {
    @include error-message;
  }
}
