// Container for all the components to be inserted within

.page-layout {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 144rem) 1fr;

  .main-container {
    font-size: 1.8rem;
    grid-column: 2 / 3;
    min-height: 100vh;
    padding: 0 8rem;
    position: relative;
  }
}
