@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.schedule-cards-wrapper {
  @include tablet-breakpoint {
    @include flex-box($direction: column);
  }

  column-gap: $spacer-l;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);

  &--single-column {
    display: block;
  }
}
