@import '~/sass/utilities/mixins/flex-box';
@import '~/sass/utilities/mixins/reset-list-styles';
@import '~/sass/utilities/mixins/padding-margin-0';

@import '~/sass/utilities/functions/to-rem';

.social-link {
  @include flex-box(
    $direction: row,
    $justify-content: center,
    $align-items: center
  );
  @include padding-margin-0;

  background-color: var(--color-light-purple);
  border-radius: 50%;
  color: var(--color-purple);
  fill: var(--color-purple);
  height: to-rem(40);
  outline-color: var(--color-purple);
  width: to-rem(40);

  &:hover,
  &:active {
    box-shadow: rgba(61, 54, 145, 0.3) 0 1px 2px 0,
      rgba(61, 54, 145, 0.15) 0 2px 6px 3px;
    transform: scale(1.07);
  }

  &__icon {
    height: to-rem(24);
    width: to-rem(24);
  }
}
