@import '~/sass/variables';
@import '~/sass/utilities';

.page-not-found {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: center
  );

  @include tablet-breakpoint {
    @include flex-box($justify-content: center);

    padding-top: to-rem(40);
    text-align: center;
  }

  margin: 0 auto;
  max-width: to-rem(1200);
  min-height: calc(100vh - (#{$height-header-footer} * 2));

  &__heading-span {
    display: none;
    @include tablet-breakpoint {
      display: block;
    }
  }

  &__image {
    @include tablet-breakpoint {
      display: none;
    }

    max-width: to-rem(450);
  }
}
