@import '~/sass/utilities/functions/to-rem';
@import '~/sass/utilities/mixins';

$_paragraph-width: 380px;
$_svg-container-width: 225px;

.application-step {
  $_this: &;

  width: calc(#{$_paragraph-width} + #{$_svg-container-width});

  &__text-container {
    max-width: calc(#{$_paragraph-width} + 8px);
  }

  &__heading {
    @include padding-margin-0;

    color: var(--primary-color);
    margin-top: to-rem(23);
    min-height: to-rem(39);
  }

  &__line {
    background-color: var(--primary-color);
    height: 2px;
    margin: to-rem(17) 0 to-rem(25);
    width: $_paragraph-width;
  }

  &__paragraph {
    width: $_paragraph-width;
  }

  &__odd-number {
    @include flex-box;
  }

  &__even-number {
    @include flex-box(row-reverse);

    text-align: right;
    transform: translateY(95px);

    #{$_this}__svg-container {
      left: -57%;
    }
  }

  &__svg-container {
    color: var(--primary-color);
    left: 100%;
    margin-left: to-rem(13);
    position: relative;
    top: -80px;
    width: $_svg-container-width;
  }
}

.isolated-path {
  &--secondary {
    color: var(--secondary-color);
  }

  &--lighter {
    color: var(--icon-secondary-color);
  }
}
