@import '~/sass/global';

$_paragraph-width: 393px;

.application-step {
  $_this: &;

  margin: auto;

  &__text-container {
    width: $_paragraph-width;
  }

  &__heading {
    @include padding-margin-0;

    // --primary-color to get color from theme selected
    color: var(--primary-color);
    margin-top: to-rem(23);
  }

  &__svg-line {
    // --primary-color to get color from theme selected
    color: var(--primary-color);
    display: flex;
    height: 2px;
    margin-bottom: to-rem(25);
    margin-top: to-rem(17);

    svg {
      width: 97%;
    }
  }

  &--odd-number {
    display: flex;
  }

  &--even-number {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    transform: translateY(95px);

    #{$_this}__svg-line {
      justify-content: flex-end;
    }
  }

  &__svg-container {
    align-items: flex-start;
    // --primary-color to get color from theme selected
    color: var(--primary-color);
    display: flex;
    width: to-rem(225);
  }
}
