@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.date {
  $_this: &;

  @include flex-box(
    $direction: column,
    $justify-content: center,
    $align-items: center
  );

  &:nth-child(2) {
    > #{$_this}__month {
      opacity: 0;
    }
  }

  &__month {
    font-size: $font-size-xs;
  }

  &__day {
    font-weight: $font-weight-bold;
  }
}
