@import '~/sass/global';

.radio-toggler {
  $_this: &;

  &__label {
    @include overflow-ellipsis();

    border-radius: 30px;
    color: $charcoal-400;
    cursor: pointer;
    font-weight: $font-weight-bold;
    margin: to-rem(7);
    padding: to-rem(13);
    text-align: center;
    transition: color $transition-time-200 ease,
      background-color $transition-time-200 ease;
    width: to-rem(159);

    &:hover {
      color: $violet-400;
    }

    &--checked {
      background-color: $violet-400;
      color: $white-400;
      transition: color $transition-time-400 ease,
        background-color $transition-time-400 ease;

      &:hover {
        background-color: $violet-600;
        color: $white-400;
      }

      &:focus,
      &:focus-visible,
      &:active {
        background-color: $violet-300;
      }
    }
  }

  &__input {
    clip-path: circle(0%);
    height: 0;
    position: absolute;
    width: 0;

    &:focus-visible {
      + #{$_this}__label {
        outline: 4px dashed $orange-200;
      }
    }
  }
}
