@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.schedule-subcolumn {
  @include flex-box($direction: column, $align-items: center);
  @include mobile-breakpoint {
    width: initial;
  }

  row-gap: $spacer-l;
  width: 50%;

  &--single {
    width: auto;
  }
}
