@import '~/sass/global';

.form-section {
  &:not(:first-child) {
    padding-right: $spacer-xs;
  }

  &__title {
    margin: 0 0 to-rem(30) 0;
  }

  &__input {
    margin-top: to-rem(20);

    &--spaced {
      margin: to-rem(60) 0;
    }
  }
}
