@import '~/sass/variables';
@import '~/sass/utilities';

.form-section {
  &:not(:first-child) {
    padding-right: $spacer-xs;
  }

  @include mobile-breakpoint {
    &:not(:first-child) {
      padding-right: 0;
    }
  }

  &__title {
    margin: 0 0 to-rem(30) 0;
  }

  &__input {
    min-height: to-rem(102);

    &:first-child {
      margin-top: to-rem(20);
    }

    &--spaced {
      @include tablet-breakpoint {
        margin: to-rem(45) 0;
      }

      @include mobile-breakpoint {
        margin: to-rem(30) 0;
      }

      margin: to-rem(60) 0;
    }
  }
}
