@import '../../sass/global';

.header,
.logo,
.navlinks {
  @include flex-box(null, null, null);
}

.header {
  @include flex-box(
    $direction: null,
    $justify-content: space-between,
    $align-items: center
  );

  height: to-rem(96);
  line-height: 1.5;
  margin: auto;
  max-width: $max-page-width;
  padding: 0 $spacer-l;
  width: 100%;

  .logo {
    @include flex-box(
      $direction: null,
      $justify-content: null,
      $align-items: center
    );

    gap: $spacer-xxxs;

    &__image {
      width: to-rem(38);
    }

    &__text {
      color: $header-clr;
      font-size: $paragraph-l;
    }
  }

  .navlinks {
    @include reset-list-style;

    gap: $spacer-xxs;

    button {
      background-color: $header-bg-clr;
      border: 0;
      font-family: $paragraph-font;
      padding: 0;
    }

    button:hover {
      cursor: pointer;
    }

    a,
    button {
      color: $header-clr;
      font-size: $paragraph-l;
      line-height: inherit;
      text-decoration: none;
    }

    &__academies {
      svg {
        margin-left: to-rem(7);
        width: to-rem(14);
      }
    }
  }
}
