@import '~/sass/utilities/mixins';
@import '~/sass/variables';
@import '../TestimonialCard/TestimonialCard';

.error-card {
  &__title {
    margin: 0 0 to-rem(67);
    text-align: right;
  }

  &__content {
    @include box-shadow(to-rem(-$_shadow-size), to-rem($_shadow-size));

    background-color: $white-400;
    border: var(--primary-color) solid 2px;
    border-radius: $_border-radius-size;
    line-height: $line-height-l;
    margin: auto;
    padding: to-rem(35) to-rem(28);
    width: to-rem($_card-width);
    word-break: break-word;
  }

  &__quote-message {
    color: var(--primary-color);
    font-size: $font-size-s;
  }
}
