@import '../../sass/global';

.radio-toggleris {
  &__labelis,
  &__labelis0,
  &__labelis1,
  &__labelis2 {
    @include flex-box(
      $direction: row,
      $justify-content: center,
      $align-items: center
    );

    border-radius: to-rem(30);
    color: $charcoal-400;
    cursor: pointer;
    font-size: to-rem(18);
    font-weight: 700;
    height: to-rem(48);
    position: relative;
    width: to-rem(159);

    &::after {
      background: none repeat scroll 0 0 transparent;
      background: $violet-400;
      bottom: 10px;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover::after {
      left: 15%;
      transition: all 1s;
      width: 70%;
    }
  }

  &__inputas {
    height: 0;
    position: absolute;
    width: 0;
  }

  &__indicatorius {
    background: $violet-400;
    border-radius: to-rem(30);
    height: to-rem(48);
    left: to-rem(-10);
    position: absolute;
    transform: translate(1rem, 0);
    width: to-rem(159);
    z-index: -1;

    input.full-stackas:checked ~ & {
      transform: translate(to-rem(15), 0);
      transition: all 1.5s;
    }

    input.testeris:checked ~ & {
      transform: translate(to-rem(183), 0);
      transition: all 1.5s;
    }

    input.front-endas:checked ~ & {
      transform: translate(to-rem(348), 0);
      transition: all 1.5s;
    }
  }
}

@for $i from 0 through 2 {
  .radio-toggleris__labelis#{$i} {
    color: $white-400;
    transition: all 1s ease 0.3s;

    &:hover::after {
      background-color: $white-400;
    }
  }
}
