@import '~/sass/variables';

.player {
  min-height: 600px; // fix this
  // width: 100%;
}

.media {
  $_this: &;
  $_overlay-color: rgba(0, 0, 0, 0.6);
  $_volume-bar-color: rgba(0, 0, 0, 0.6); // same color...

  border-radius: 15px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  &__overlay {
    background-color: $_overlay-color;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__close-button {
    background-color: transparent;
    border: 0;
    color: $white-400;
    cursor: pointer;
    font-size: 40px;
    height: min-content;
    position: absolute;
    right: -50px;
    top: -50px;
    width: min-content;
  }

  video {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    max-width: to-rem(1086);

    &::-webkit-media-controls-panel {
      display: none;
      opacity: 0;
    }

    &:fullscreen {
      &::-webkit-media-controls-panel {
        display: flex;
        opacity: 1;
      }

      border: unset;
      border-radius: 0;
    }
  }

  #{$_this}__player-overlay-icon {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
  }

  &__controls {
    border-radius: 0 0 15px 15px;
    bottom: 5px;
    display: flex;
    height: 48px;
    position: absolute;
    width: 100%;
    z-index: 10;

    &-play-pause {
      background-color: var(--secondary-color);
      border-radius: 0 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      height: 100%;
      width: 64px;

      &:hover {
        background-color: var(--primary-color);
      }

      &:hover + #{$_this}__controls-current-time {
        background-color: var(--primary-color);
      }
    }

    &-current-time {
      background-color: var(--secondary-color);
      border-right: 1px solid $white-400;
      color: $white-400;
      cursor: default;
      flex-shrink: 0;
      height: 100%;
      padding-left: 10px;
      padding-top: 13px;
      width: 69px;
    }

    &-seek-bar {
      background-color: var(--primary-color);
      border-style: none;
      height: 100%;
      margin-right: auto;
      width: 100%;
    }

    input {
      -webkit-appearance: none;
      border-radius: 0;
      height: 100%;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      &::-moz-range-thumb {
        border: 1px solid var(--secondary-color);
        box-shadow: -100vw 0 0 100vw var(--secondary-color);
        box-sizing: border-box;
        height: 100%;
        width: 0;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid var(--secondary-color);
        box-shadow: -100vw 0 0 100vw var(--secondary-color);
        height: 100%;
        width: 0;
      }
    }

    &-volume {
      border-left: 1px solid $white-400;
      height: 100%;
      position: relative;
      width: 69px;

      .volume-icon,
      .volume-off-icon {
        fill: $white-400;
        height: 23px;
        transition: 0.2s;
      }

      &-mute {
        background-color: var(--secondary-color);
        border-style: none;
        cursor: pointer;
        flex-shrink: 0;
        height: 100%;
        width: 69px;

        &:hover {
          .volume-icon,
          .volume-off-icon {
            fill: var(--primary-color);
            scale: 1.1;
            transition: 0.2s;
          }
        }
      }

      &-bar {
        -webkit-appearance: none;
        background-color: $_volume-bar-color;
        border-left: 1px solid $white-400;
        bottom: 142px;
        display: none;
        height: 300px;
        right: 25px;
        transform: rotate(-90deg);
        width: 200px;
      }

      input {
        height: 69px;
        width: 120px;
      }

      &:hover &-bar {
        display: block;
      }
    }

    &-settings {
      background-color: var(--secondary-color);
      border: 0;
      cursor: pointer;
      flex-shrink: 0;
      height: 100%;
      width: 69px;

      &-icon {
        width: 24px;
      }

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &-fullscreen {
      background-color: var(--secondary-color);
      border-radius: 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      transition: all 0.2s;
      width: 69px;

      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}

.pause-icon,
.play-icon,
.fullscreen-icon {
  height: 19px;
}
