@import '~/sass/variables';

$_semi-transparent-color: rgba(0, 0, 0, 0.3);

.overlay {
  background-color: $_semi-transparent-color;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.media {
  border-radius: 15px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  &__player {
    height: 600px; // fix this
  }

  &__close-button {
    background-color: transparent;
    border: 0;
    color: $white-400;
    cursor: pointer;
    font-size: 40px;
    height: min-content;
    position: absolute;
    right: -50px;
    top: -50px;
    width: min-content;
  }

  video {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    max-width: to-rem(1086);

    &::-webkit-media-controls-panel {
      display: none;
      opacity: 0;
    }

    &:fullscreen {
      &::-webkit-media-controls-panel {
        display: flex;
        opacity: 1;
      }

      border: unset;
      border-radius: 0;
    }
  }
}

.controls {
  $_this: &;

  bottom: 0;
  display: flex;
  height: 48px;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__play-pause {
    background-color: var(--secondary-color);
    border-radius: 0 0 0 15px;
    border-style: none;
    cursor: pointer;
    flex-shrink: 0;
    height: 100%;
    width: 64px;

    .pause-icon,
    .play-icon {
      fill: $white-400;
    }

    &:hover {
      background-color: var(--primary-color);

      .pause-icon,
      .play-icon {
        fill: var(--secondary-color);
      }
    }

    &:hover + #{$_this}__controls-current-time {
      background-color: var(--primary-color);
    }
  }

  &__current-time {
    background-color: var(--secondary-color);
    border-right: 1px solid $white-400;
    color: $white-400;
    cursor: default;
    flex-shrink: 0;
    height: 100%;
    padding-left: 10px;
    padding-top: 13px;
    width: 69px;
  }

  &__seek-bar,
  &__volume-bar {
    appearance: none;
    background-color: var(--primary-color);
    border-radius: 0;
    border-style: none;
    height: 100%;
    margin: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::-moz-range-thumb {
      border: 1px solid var(--secondary-color);
      box-shadow: -100vw 0 0 100vw var(--secondary-color);
      box-sizing: border-box;
      height: 100%;
      width: 0;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      border: 1px solid var(--secondary-color);
      box-shadow: -100vw 0 0 100vw var(--secondary-color);
      height: 100%;
      width: 0;
    }
  }

  &__volume-mute {
    background-color: var(--secondary-color);
    border-style: none;
    cursor: pointer;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    width: 69px;

    .volume-icon,
    .volume-off-icon {
      fill: $white-400;
      height: 23px;
      transition: 0.2s;
    }

    &:hover + #{$_this}__controls-volume-bar {
      display: block;
    }
  }

  &__volume-bar {
    appearance: none;
    background-color: $_semi-transparent-color;
    bottom: 88px;
    display: inline-block;
    display: none;
    height: 69px;
    position: absolute;
    right: 98px;
    transform: rotate(-90deg);
    width: 150px;

    &:hover {
      display: block;
    }

    &::-moz-range-thumb {
      border: 1px solid var(--primary-color);
      box-shadow: -100vw 0 0 100vw var(--primary-color);
    }

    &::-webkit-slider-thumb {
      border: 1px solid var(--primary-color);
      box-shadow: -100vw 0 0 100vw var(--primary-color);
    }
  }

  &__settings {
    background-color: var(--secondary-color);
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    height: 100%;
    width: 69px;

    &-icon {
      width: 24px;
    }

    &:hover {
      background-color: var(--primary-color);
    }
  }

  &__fullscreen {
    background-color: var(--secondary-color);
    border-radius: 0 0 15px;
    border-style: none;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s;
    width: 69px;

    &:hover {
      background-color: var(--primary-color);
    }
  }
}

.pause-icon,
.play-icon,
.fullscreen-icon {
  height: 19px;
}
