@import '~/sass/variables';

$_semi-transparent-color: rgba(0, 0, 0, 0.3);

.overlay {
  background-color: $_semi-transparent-color;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.media {
  border-radius: 15px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  &__player {
    min-height: 500px;
  }

  &__close-button {
    background-color: transparent;
    border: 0;
    color: $white-400;
    cursor: pointer;
    font-size: to-rem(40);
    height: min-content;
    position: absolute;
    right: to-rem(-50);
    top: to-rem(-50);
    width: min-content;

    &:focus-visible {
      outline: 4px dashed $orange-200;
    }
  }

  video {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    max-width: to-rem(1086);

    &::-webkit-media-controls-panel {
      display: none;
      opacity: 0;
    }

    &:fullscreen {
      &::-webkit-media-controls-panel {
        display: flex;
        opacity: 1;
      }

      border: unset;
      border-radius: 0;
    }
  }
}

.controls {
  $_this: &;

  bottom: 0;
  display: flex;
  height: to-rem(48);
  position: absolute;
  width: 100%;
  z-index: 1;

  &__play-pause {
    border-radius: 0 0 0 15px;

    &:hover + #{$_this}__current-time {
      background-color: var(--button-hover);
    }
  }
  ////////////////////////////////////FLEX MIXIN
  &__current-time {
    align-items: center;
    background-color: var(--secondary-color);
    border-right: 1px solid var(--primary-color);
    color: $white-400;
    cursor: default;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    padding: 0 to-rem(10);
    transition: $transition-time-200;
    width: to-rem(69);
  }

  &__seek-bar,
  &__volume-bar {
    appearance: none;
    background-color: var(--primary-color);
    border-radius: 0;
    border-style: none;
    flex-shrink: 1;
    height: 100%;
    margin: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::-moz-range-thumb {
      border: 1px solid var(--secondary-color);
      box-shadow: -100vw 0 0 100vw var(--secondary-color);
      box-sizing: border-box;
      height: 100%;
      width: 0;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      border: 1px solid var(--secondary-color);
      box-shadow: -100vw 0 0 100vw var(--secondary-color);
      height: 100%;
      width: 0;
    }
  }

  &__volume-mute {
    &:hover + #{$_this}__volume-bar,
    &:focus-visible + #{$_this}__volume-bar {
      background-color: $_semi-transparent-color;
      bottom: to-rem(73);
      right: to-rem(112);
      width: to-rem(120);
    }
  }

  &__volume-bar {
    bottom: to-rem(13);
    display: block;
    height: to-rem(69);
    position: absolute;
    right: to-rem(172);
    transform: rotate(-90deg);
    width: to-rem(1);
    z-index: -1;

    &:hover,
    &:focus-visible {
      background-color: $_semi-transparent-color;
      bottom: to-rem(73);
      right: to-rem(112);
      width: to-rem(120);
    }

    &::-moz-range-thumb {
      border: 1px solid var(--button-active);
      box-shadow: -100vw 0 0 100vw var(--button-active);
    }

    &::-webkit-slider-thumb {
      border: 1px solid var(--button-active);
      box-shadow: -100vw 0 0 100vw var(--button-active);
    }
  }

  &__settings {
    &-icon {
      width: to-rem(24);
    }
  }

  &__fullscreen {
    border-radius: 0 0 15px;
  }

  button {
    background-color: var(--secondary-color);
    cursor: pointer;
    flex-shrink: 0;
    height: 100%;
    padding-top: to-rem(3);
    width: to-rem(69);
  }

  button,
  &__seek-bar,
  &__volume-bar {
    border-style: none;
    transition: $transition-time-200;

    &:hover:not(#{$_this}__volume-bar) {
      background-color: var(--button-hover);
    }

    &:focus:not(#{$_this}__volume-bar),
    &:focus-visible:not(#{$_this}__volume-bar),
    &:active:not(#{$_this}__volume-bar) {
      background-color: var(--button-active);
      z-index: inherit;
    }

    &:focus {
      outline: 2px solid var(--button-hover);
    }

    &:focus-visible {
      outline: 4px dashed $orange-200;
    }

    &:active {
      outline: none;
      z-index: 20;
    }
  }
}
