@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.gallery {
  $_this: &;

  display: grid;
  gap: $spacer-l;
  grid-auto-rows: to-rem(220);
  grid-template-columns: repeat(4, 1fr);

  &__item {
    @include box-shadow;

    border: 2px solid var(--primary-color);
    border-radius: 16px;
    overflow: hidden;
    transition: transform $transition-time-200 ease;

    &:hover,
    &:active {
      cursor: pointer;
      transform: scale(1.02);
    }

    &:focus-visible {
      outline: 4px dashed $orange-200;
    }

    &:nth-child(13n + 2),
    &:nth-child(13n + 6),
    &:nth-child(13n + 7) {
      grid-column: span 2;
    }

    &--video {
      @include flex-box($justify-content: center, $align-items: center);

      position: relative;

      &:focus-visible {
        outline: none;

        #{$_this}__play-icon {
          outline: 4px dashed $orange-200;
        }
      }
    }
  }

  &__thumbnail {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__play-icon {
    border-radius: 50%;
    color: var(--primary-color);
    position: absolute;
    width: to-rem(90);
  }
}

.fslightbox-source {
  border: 2px solid var(--primary-color);
  border-radius: 16px;
}
