@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.page-layout {
  @include tablet-breakpoint {
    padding: $height-header-footer to-rem(60) 0;
  }

  @include mobile-breakpoint {
    padding: to-rem(60) to-rem(30) 0;
  }

  margin: 0 auto;
  max-width: $max-page-width;
  min-height: calc(100vh - #{$height-header-footer});
  overflow: hidden;
  padding: $height-header-footer to-rem(80) 0;
}
