@import '../../sass/global';

.radio-toggler {
  &__label,
  &__label0,
  &__label1,
  &__label2 {
    @include flex-box(
      $direction: row,
      $justify-content: center,
      $align-items: center
    );

    border-radius: to-rem(30);
    color: $charcoal-400;
    cursor: pointer;
    font-size: to-rem(18);
    font-weight: 700;
    height: to-rem(48);
    position: relative;
    width: to-rem(159);

    &::after {
      background: none repeat scroll 0 0 transparent;
      background: $violet-400;
      bottom: 10px;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover::after {
      left: 15%;
      transition: all 1.5s;
      width: 70%;
    }
  }

  &__input {
    height: 0;
    position: absolute;
    width: 0;
  }
}

@for $i from 0 through 2 {
  .radio-toggler__label#{$i} {
    background-color: $violet-400;
    color: $white-400;
    transition: all 1.5s ease;

    &:hover {
      background-color: $violet-600;
    }

    &:focus,
    &:focus-visible,
    &:active {
      background-color: $violet-300;
    }

    &:hover::after {
      background-color: $white-400;
    }
  }
}
