@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.frontend-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  margin-top: to-rem(180);
  position: relative;

  &__content {
    max-width: to-rem(550);
    position: relative;
  }

  &__top-particles {
    margin-bottom: to-rem(2);
    max-width: to-rem(99);
    position: absolute;
    right: to-rem(39);
    transform: translateY(-100%);
  }

  &__bottom-particles {
    bottom: to-rem(2);
    left: to-rem(40);
    max-width: to-rem(285);
    position: absolute;
  }

  &__icon {
    max-width: to-rem(417);
    transform: translateX(18%);
  }
}
