@import '~/sass/global';

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.media {
  $_this: &;

  border-radius: 15px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  video {
    border: 2px solid #3d3691;
    border-radius: 15px;
    max-width: to-rem(1086);

    &::-webkit-media-controls-panel {
      display: none !important;
      opacity: 0;
    }

    &:fullscreen {
      &::-webkit-media-controls-panel {
        display: flex !important;
        opacity: 1;
      }

      border: unset;
      border-radius: 0;
    }
  }

  .media__player-overlay-icon {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
  }

  &__controls {
    border-radius: 0 0 15px 15px;
    bottom: 5px;
    display: flex;
    height: 48px;
    position: absolute;
    width: 100%;
    // z-index: 10;
    z-index: 2147483647;

    &-play-pause {
      background-color: #584dfc;
      border-radius: 0 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      height: 100%;
      width: 64px;

      &:hover {
        background-color: #3d3691;
      }

      &:hover + #{$_this}__controls-current-time {
        background-color: #3d3691;
      }
    }

    &-current-time {
      background-color: #584dfc;
      border-right: 1px solid white;
      color: white;
      cursor: default;
      height: 100%;
      padding-left: 10px;
      padding-top: 13px;
      width: 69px;
    }

    &-seek-bar {
      // background-color: rgba(61, 54, 145, 0.5);
      background-color: #3d3691;
      border-style: none;
      height: 100%;
      margin-right: auto;
      width: 100%;
    }

    input {
      -webkit-appearance: none;
      border-radius: 0;
      height: 100%;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      &::-moz-range-thumb {
        border: 1px solid #3d3691;
        box-shadow: -1000px 0 0 1000px #584dfc;
        box-sizing: border-box;
        height: 100%;
        width: 0;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid #584dfc;
        box-shadow: -1000px 0 0 1000px #584dfc;
        height: 100%;
        width: 0;
      }
    }

    &-volume {
      border-left: 1px solid white;
      flex-shrink: 0;
      height: 100%;
      position: relative;
      width: 69px;

      &-mute {
        background-color: #584dfc;
        border-style: none;
        cursor: pointer;
        flex-shrink: 0;
        height: 100%;
        width: 69px;

        &:hover {
          background-color: #3d3691;
        }
      }

      &-bar {
        -webkit-appearance: none;
        background-color: rgba(255, 255, 255, 0.3);
        border-left: 1px solid white;
        bottom: 142px;
        height: 300px;
        opacity: 0;
        right: 25px;
        transform: rotate(-90deg);
        width: 200px;
      }

      input {
        height: 69px;
        width: 120px;
      }

      &:hover &-bar {
        opacity: 1;
      }
    }

    &-settings {
      background-color: #584dfc;
      border: none;
      border-left: 1px solid white;
      border-right: 1px solid white;
      cursor: pointer;
      flex-shrink: 0;
      height: 100%;
      width: 69px;
      z-index: 5;

      &-icon {
        width: 24px;
      }

      &:hover {
        background-color: #3d3691;
      }
    }

    &-fullscreen {
      background-color: #584dfc;
      border-radius: 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      transition: all 0.2s;
      width: 69px;

      &:hover {
        background-color: #3d3691;
      }
    }
  }
}

.volume-icon,
.volume-off-icon {
  height: 23px;
}

.pause-icon,
.play-icon,
.fullscreen-icon {
  height: 19px;
}
