@import '../../sass/variables';

@import '../../sass/utilities/mixins/flex-box';
@import '../../sass/utilities/mixins/reset-list-styles';
@import '../../sass/utilities/mixins/padding-margin-0';

@import '../../sass/utilities/functions/to-rem';

.footer {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: center
  );

  margin: 0 auto;
  max-width: to-rem(1440);
  padding: to-rem(28);

  &__list {
    @include flex-box(
      $direction: row,
      $justify-content: center,
      $align-items: center
    );
    @include reset-list-style;

    &-item {
      @include padding-margin-0;

      &:not(:last-child) {
        margin-right: to-rem(16);
      }
    }
  }

  &__text {
    color: $violet-700;
    font-family: $main-font;
    font-size: to-rem(16);
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    text-transform: capitalize;
  }
}
