@import '~/sass/variables';
@import '~/components/TestimonialWrapper/TestimonialCard/TestimonialCard';

.testimonial-academies-section {
  margin: 0 auto to-rem(349);
  position: relative;

  &__top-particles {
    bottom: 100%;
    left: 7%;
    position: absolute;
    width: to-rem(422);
    z-index: -1;
  }

  &__bottom-particles {
    left: 6%;
    position: absolute;
    width: to-rem(1021);
    z-index: -1;
  }

  &__wrapper {
    margin-left: to-rem(-$_shadow-size);
  }
}
