@import '~/sass/global';

.frontend-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  &__content {
    max-width: to-rem(534);
    position: relative;
  }

  &__top-particles {
    margin-bottom: to-rem(2);
    max-width: to-rem(99);
    position: absolute;
    right: to-rem(39);
    top: to-rem(-37);
  }

  &__bottom-particles {
    bottom: to-rem(0);
    left: to-rem(35);
    max-width: to-rem(285);
    position: absolute;
  }

  &__icon {
    left: to-rem(109);
    max-width: to-rem(417);
    position: relative;
  }
}
