@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.application-section {
  margin: to-rem(300) auto to-rem(356);
  position: relative;

  @include tablet-breakpoint {
    margin: to-rem(200) auto to-rem(250);
  }

  @include mobile-breakpoint {
    margin: to-rem(50) auto to-rem(50);
  }

  &__particles--top {
    left: 63%;
    position: absolute;
    top: -15%;
    width: to-rem(436);

    @include mobile-breakpoint {
      display: none;
    }
  }

  &__particles--bottom {
    left: 5%;
    position: absolute;
    width: to-rem(476);

    @include mobile-breakpoint {
      display: none;
    }
  }

  &__svg-line {
    left: -6%;
    position: absolute;
    stroke: var(--primary-color);
    top: -2%;
    transform: rotate(3deg);
    width: to-rem(72);

    @include tablet-breakpoint {
      display: none;
    }
  }
}
