@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.gallery {
  $_this: &;
  $_gap-size: $spacer-l;

  @include tablet-breakpoint {
    /* autoprefixer: ignore next */
    grid-auto-rows: min(to-rem(220), 25vw);
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile-breakpoint {
    column-gap: min($_gap-size, 7vw);

    /* autoprefixer: ignore next */
    grid-auto-rows: min(to-rem(202), 40vw);
    grid-template-columns: repeat(2, 1fr);
    row-gap: min($_gap-size, 7vw);
  }

  column-gap: $_gap-size;
  display: grid;

  /* autoprefixer: ignore next */
  grid-auto-rows: to-rem(220);
  grid-template-columns: repeat(4, 1fr);
  row-gap: $_gap-size;

  &__item {
    @include box-shadow;

    border: 2px solid var(--primary-color);
    border-radius: 16px;
    overflow: hidden;
    transition: transform $transition-time-200 ease;

    &:hover,
    &:active {
      cursor: pointer;
      transform: scale(1.02);

      #{$_this}__play-icon {
        background-color: var(--primary-color);
      }
    }

    &:focus-visible {
      outline: 4px dashed $orange-200;
    }

    &:nth-child(13n + 2),
    &:nth-child(13n + 6),
    &:nth-child(13n + 7) {
      grid-column: span 2;
    }

    &:nth-child(13n + 7) {
      @include tablet-breakpoint {
        grid-column: span 1;
      }
    }

    &:nth-child(13n + 2),
    &:nth-child(13n + 6) {
      @include mobile-breakpoint {
        grid-column: span 1;
      }
    }

    &--video {
      @include flex-box($justify-content: center, $align-items: center);

      &:focus-visible {
        outline: none;

        #{$_this}__play-icon {
          outline: 4px dashed $orange-200;
        }
      }
    }
  }

  &__thumbnail {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__play-icon {
    @include mobile-breakpoint {
      width: min(to-rem(90), 17vw);
    }

    border-radius: 50%;
    color: var(--primary-color);
    position: absolute;
    transition: background-color $transition-time-200 ease;
    width: to-rem(90);
  }
}
