@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.testers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  @include tablet-breakpoint {
    align-items: center;
    flex-direction: column-reverse;
    margin-top: to-rem(100);
  }

  @include mobile-breakpoint {
    margin-top: to-rem(20);
  }

  column-gap: 1rem;
  margin-top: to-rem(100);

  &__top-particles {
    left: 70%;
    position: absolute;
    top: -24%;
    width: to-rem(125);
    z-index: -1;
    @include mobile-breakpoint {
      display: none;
    }
  }

  &__content {
    @include tablet-breakpoint {
      width: 100%;
    }

    position: relative;
    width: min(48%, to-rem(560));
  }

  &__bottom-particles {
    @include mobile-breakpoint {
      display: none;
    }

    bottom: 5%;
    left: 10%;
    position: absolute;
    top: 68%;
    width: to-rem(230);
    z-index: -1;
  }

  &__icons {
    @include tablet-breakpoint {
      width: 100%;
    }

    position: relative;
    width: 52%;
  }

  &__icons-image {
    @include tablet-breakpoint {
      transform: translateY(0%);
      width: 100%;
      z-index: -1;
    }

    transform: translateX(20%);
    width: to-rem(353);
    z-index: -1;
  }

  &__icons-line {
    @include tablet-breakpoint {
      display: none;
    }

    position: absolute;
    right: 0;
    top: -35%;
    width: to-rem(693);
    z-index: -1;
  }
}
