@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.testers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  column-gap: 1rem;
  margin-top: to-rem(100);

  &__top-particles {
    position: absolute;
    right: 10%;
    top: -25%;
    width: to-rem(125);
    z-index: -1;
  }

  &__content {
    position: relative;
    width: min(48%, to-rem(560));
  }

  &__bottom-particles {
    bottom: 5%;
    left: 10%;
    position: absolute;
    width: to-rem(230);
    z-index: -1;
  }

  &__icons {
    height: 100%;
    position: relative;
    text-align: end;
    width: 52%;
  }

  &__icons-image {
    margin-right: 20%;
    width: to-rem(353);
    z-index: -1;
  }

  &__icons-line {
    position: absolute;
    right: 0;
    top: -35%;
    width: to-rem(693);
    z-index: -1;
  }
}
