@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.testers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  margin-top: to-rem(100);
  position: relative;

  &__top-particles {
    left: 70%;
    margin-bottom: to-rem(15);
    max-width: to-rem(125);
    position: absolute;
    top: -24%;
  }

  &__content {
    max-width: to-rem(559);
    position: relative;
  }

  &__bottom-particles {
    left: 10%;
    max-width: to-rem(230);
    position: absolute;
    top: 68%;
  }

  &__icons {
    left: to-rem(70);
    position: relative;
  }

  &__icons-image {
    width: to-rem(353);
    z-index: -1;
  }

  &__icons-line {
    position: absolute;
    transform: translate(-75%, -11%);
    width: to-rem(693);
    z-index: -1;
  }
}
