@import '../utilities/functions/index';
@import '../variables';

@mixin input-field {
  background-color: $white-400;
  border: 1px solid $charcoal-200;
  border-radius: 4px;
  font-size: $font-size-paragraph-l;
  height: to-rem(48);
  padding: to-rem(14);
  width: 100%;

  &::placeholder {
    color: $charcoal-100;
  }

  &:focus {
    outline: 2px solid $violet-600;
  }
}
