@import '../utilities/functions/index';
@import '../variables';

@mixin input-field {
  background-color: $white-400;
  border: 1px solid $charcoal-200;
  border-radius: 10px;
  color: $charcoal-400;
  font-family: $paragraph-font;
  font-size: to-rem(18);
  height: to-rem(48);
  padding: to-rem(14);
  width: 100%;

  &::placeholder {
    color: $charcoal-100;
    font-family: $paragraph-font;
    opacity: 1;
  }

  &:focus {
    outline: 2px solid $violet-600;
  }
}
