@import '../utilities/functions/index';
@import '../variables';

@mixin label($color: $charcoal-200) {
  color: $color;
  display: inline-block;
  font-size: $font-size-s;
  line-height: $line-height-l;
  margin-bottom: to-rem(5);

  &::before {
    color: $red-500;
    content: '*';
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    height: to-rem(21);
    margin-left: to-rem(-9);
    margin-right: to-rem(2);
    width: to-rem(7);
  }
}
