.media {
  border-radius: 15px;
  max-width: 1086px;
  position: relative;

  video {
    border: 2px solid #3d3691;
    border-radius: 15px;
    width: 100%;
  }

  .media-controls {
    border-radius: 0 0 15px 15px;
    bottom: 5px;
    display: flex;
    height: 48px;
    position: absolute;
    width: 100%;

    .play-btn {
      background-color: #584dfc;
      border-radius: 0 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      height: 100%;
      width: 64px;

      &:hover {
        background-color: #3d3691;
      }

      &:hover + .time-btn {
        background-color: #3d3691;
      }
    }

    .time-btn {
      align-items: center;
      background-color: #584dfc;
      border-right: 1px solid white;
      color: white;
      cursor: default;
      height: 100%;
      padding-left: 10px;
      padding-top: 13px;
      width: 69px;
    }

    .settings-btn {
      background-color: #584dfc;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;

      &:hover {
        background-color: #3d3691;
      }
    }

    .full-screen-btn {
      background-color: #584dfc;
      border-radius: 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      transition: all 0.2s;
      width: 69px;

      &:hover {
        background-color: #3d3691;
      }
    }

    .volume-controls {
      border-left: 1px solid white;
      position: relative;

      &:hover .volume-btn {
        display: inline-block;
      }

      .vol {
        background-color: #584dfc;
        border-style: none;
        cursor: pointer;
        flex-shrink: 0;
        height: 100%;
        width: 69px;

        &:hover {
          background-color: #3d3691;
        }
      }

      .volume-btn {
        -webkit-appearance: none;
        background-color: rgba(255, 255, 255, 0.3);
        border-left: 1px solid white;
        bottom: 63px;
        display: none;
        height: 69px;
        opacity: 1;
        outline: none;
        position: absolute;
        right: -16px;
        transform: rotate(-90deg);
        width: 100px;
      }
    }

    .seek-btn {
      background-color: rgba(61, 54, 145, 0.5);
      border-style: none;
      height: 100%;
      margin-right: auto;
      width: 100%;
    }

    input {
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
      height: 100%;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      &::-moz-range-thumb {
        border: 1px solid #3d3691;
        box-shadow: -1000px 0 0 1000px #3d3691;
        box-sizing: border-box;
        height: 100%;
        width: 0;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid #3d3691;
        box-shadow: -1000px 0 0 1000px #3d3691;
        height: 100%;
        width: 0;
      }
    }
  }
}

.volume-icon,
.volume-off-icon,
.settings-icon {
  height: 23px;
}

.pause-icon,
.play-icon,
.fullscreen-icon {
  height: 19px;
}

.fullscreen-btn,
.vol,
.settings-btn {
  flex-shrink: 0;
  width: 69px;
}
