.media {
  border-radius: 15px;
  max-width: 1086px;
  // .media-player {
  // }
  position: relative;

  video {
    border: 2px solid #3d3691;
    border-radius: 15px;
    width: 100%;
  }

  .media-controls {
    // background-color: #584dfc;
    border-radius: 0 0 15px 15px;
    bottom: 5px;
    display: flex;
    height: 48px;
    position: absolute;
    width: 100%;

    .play-btn {
      background-color: #584dfc;
      border-radius: 0 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      height: 100%;
      width: 64px;

      &:hover {
        background-color: #3d3691;
      }
    }

    .time-btn {
      align-self: center;
      color: white;
      cursor: pointer;
      left: 80px;
      position: absolute;
      z-index: 1;
    }

    .seek-btn {
      background-color: rgba(61, 54, 145, 0.5);
      border-radius: 0 0 0 15px;
      border-style: none;
      height: 100%;
      margin-right: auto;
      // opacity: 0.5;
      width: 100%;
    }

    .vol {
      background-color: #584dfc;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      width: 69px;

      &:hover {
        background-color: #3d3691;
      }
    }

    .settings-btn {
      background-color: #584dfc;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;

      &:hover {
        background-color: #3d3691;
      }
    }

    .volume-btn {
      -webkit-appearance: none;
      background: #d3d3d3;
      height: 100%;
      opacity: 0.7;
      outline: none;
      transform: rotate(-90deg);
      // -webkit-transition: 0.2s;
      // transition: opacity 0.2s;
      width: 100%;
    }

    .full-screen-btn {
      background-color: #584dfc;
      border-radius: 0 0 15px;
      border-style: none;
      cursor: pointer;
      flex-shrink: 0;
      transition: all 0.2s;
      width: 69px;

      &:hover {
        background-color: #3d3691;
      }
    }

    .volume-btn::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background: #04aa6d;
      cursor: pointer;
      height: 100%;
      width: 5px;
    }

    .volume-btn::-moz-range-thumb {
      background: #04aa6d;
      cursor: pointer;
      height: 100%;
      width: 5px;
    }
    // SEEK BAR ----
    input[type='range'] {
      -webkit-appearance: none;
      // background-color: #584dfc;
      border-radius: 0; /* iOS */
      cursor: pointer;
      height: 100%;
      margin: auto;
      // opacity: 0.5;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    ::-webkit-slider-runnable-track {
      background: #ddd;
    }

    /*
* 1. Set to 0 width and remove border for a slider without a thumb
* 2. Shadow is negative the full width of the input and has a spread 
*    of the width of the input.
*/
    ::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #fff;
      border: 2px solid #999; /* 1 */
      box-shadow: -200px 0 0 200px dodgerblue; /* 2 */
      height: 40px;
      width: 20px; /* 1 */
    }

    ::-moz-range-track {
      // background: rgba(252, 249, 77, 1);
      // border: 1px solid #4dfc4d;
      // background-color: transparent;
      height: 100%;
    }

    ::-moz-range-thumb {
      // background: #fff;
      border: 1px solid #3d3691;
      // border-radius: 0 !important;
      box-shadow: -1000px 0 0 1000px #3d3691;
      box-sizing: border-box;
      height: 100%;
      width: 0;
    }

    ::-ms-fill-lower {
      background: dodgerblue;
    }

    ::-ms-thumb {
      // background: #fff;
      // border: 2px solid #999;
      box-sizing: border-box;
      height: 40px;
      width: 20px;
    }

    ::-ms-ticks-after {
      display: none;
    }

    ::-ms-ticks-before {
      display: none;
    }

    ::-ms-track {
      background: #ddd;
      border: none;
      color: transparent;
      height: 40px;
    }

    ::-ms-tooltip {
      display: none;
    }
    // -------------
  }
}

.volume-icon,
.volume-off-icon,
.settings-icon {
  height: 23px;
}

.pause-icon,
.play-icon,
.fullscreen-icon {
  height: 19px;
}

.fullscreen-btn,
.vol,
.settings-btn {
  flex-shrink: 0;
  width: 69px;
}
