@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.developers-description {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: flex-start
  );

  column-gap: 1rem;
  margin-top: to-rem(150);

  &__top-particles {
    left: 5%;
    position: absolute;
    top: -25%;
    width: to-rem(126);
    z-index: -1;
  }

  &__content {
    position: relative;
    width: min(50%, to-rem(570));
  }

  &__bottom-particles {
    bottom: 10%;
    left: 45%;
    position: absolute;
    width: to-rem(190);
    z-index: -1;
  }

  &__icons {
    position: relative;
    width: 50%;
  }

  &__icons-image {
    margin-left: 15%;
    width: to-rem(430);
  }

  &__icons-line {
    left: 0;
    position: absolute;
    top: -110%;
    width: to-rem(665);
    z-index: -1;
  }
}
