@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.intro-section {
  @include flex-box(
    $direction: row,
    $justify-content: space-between,
    $align-items: center
  );

  @include tablet-breakpoint {
    justify-content: center;
    margin: to-rem(100) 0 to-rem(350);
    position: relative;
    text-align: center;
  }

  @include mobile-breakpoint {
    margin: to-rem(50) 0 to-rem(300);
  }

  margin: to-rem(194) 0 to-rem(420);

  &__paragraph {
    @include tablet-breakpoint {
      width: 100%;
    }

    width: max(36%, 400px);
  }

  &__image {
    @include tablet-breakpoint {
      display: none;
    }

    width: max(50%, 500px);
  }

  &__background {
    @include tablet-breakpoint {
      bottom: -12rem;
      display: block;
      position: absolute;
      width: to-rem(1350);
      z-index: -1;
    }

    display: none;
  }
}
