@import '~/sass/utilities/functions';

.apply-to-academy {
  $_this: &;

  align-items: center;
  display: flex;
  padding: 0 to-rem(48);

  .text-section {
    margin: 0;
    position: relative;
    width: 100%;
  }

  &__image-wrapper {
    width: 100%;

    #{$_this}__image {
      transform: translate(8%, -6%) scale(110%);
    }
  }
}

.particles-top {
  position: absolute;
  transform: translate(-2%, -98%) scale(24%);

  &--five {
    transform: translate(-5%, -54%) scale(32%);
  }
}

.particles-bottom {
  position: absolute;
  transform: translate(-35%, -68%) scale(24%);
}
