@import '~/sass/utilities';

.apply-to-academy {
  $_this: &;

  @include flex-box(
    $direction: row,
    $justify-content: normal,
    $align-items: center
  );

  padding: 0 to-rem(48);

  .text-section {
    margin: 0;
    position: relative;
    width: 100%;
  }

  &__image-wrapper {
    width: 100%;

    #{$_this}__image {
      transform: translate(8%, -6%) scale(110%);
    }
  }

  &__particles-top {
    position: absolute;
    transform: translate(-2%, -98%) scale(24%);

    &--five {
      transform: translate(0%, -54%) scale(32%);
    }
  }

  &__particles-bottom {
    position: absolute;
    transform: translate(-37%, 53%) scale(24%);
  }
}
