@import '../../sass/global';

.success-message-box {
  @include flex-box($direction: column, $align-items: center);

  &__check-mark-icon {
    width: to-rem(104);
  }

  &__confirmation-text {
    color: $violet-700;
    font: 700 $paragraph-l $paragraph-font;
  }
}
