@import '~/sass/global';

.success-message-box {
  @include flex-box($direction: column, $align-items: center);

  &__check-mark-icon {
    width: to-rem(104);
  }

  &__title {
    height: to-rem(39);
    margin: to-rem(40) 0 to-rem(12) 0;
  }

  &__confirmation-text {
    color: $violet-700;
    font-family: $paragraph-font;
    font-size: $paragraph-l;
    font-weight: 700;
  }
}
