@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.testimonial-academies-section {
  @include tablet-breakpoint {
    margin-bottom: to-rem(200);
  }

  @include mobile-breakpoint {
    margin-bottom: to-rem(50);
  }

  margin: 0 auto to-rem(349);
  position: relative;

  &__top-particles {
    @include mobile-breakpoint {
      display: none;
    }

    bottom: 100%;
    left: 7%;
    position: absolute;
    width: to-rem(422);
    z-index: -1;
  }

  &__bottom-particles {
    @include mobile-breakpoint {
      display: none;
    }

    left: 6%;
    position: absolute;
    width: to-rem(1021);
    z-index: -1;
  }
}
