@import '~/sass/variables';
@import '~/sass/utilities/mixins';

.testimonial-academies-section {
  margin: 0 auto to-rem(349);
  position: relative;

  @include tablet-breakpoint {
    margin-bottom: to-rem(200);
  }

  @include mobile-breakpoint {
    margin-bottom: to-rem(50);
  }

  &__top-particles {
    bottom: 100%;
    left: 7%;
    position: absolute;
    width: to-rem(422);
    z-index: -1;
  }

  &__bottom-particles {
    left: 6%;
    position: absolute;
    width: to-rem(1021);
    z-index: -1;
  }
}
